

<div class="row">
	<div class="col-md-4">
		<div class="card">
 			 <div class="card-header">
    				<b>{{ order.shipping.name }}</b>
  			</div>
  			<div class="card-body">
    			<p class="card-text"><b>Order Id :</b> {{ orderId }}</p>
    			<p class="card-text"><b>Order Placed :</b> {{ order.datePlaced | date }}</p>
    			<p class="card-text"><b>Shipping Address :</b> {{ order.shipping.addressLine1 }} {{ order.shipping.addressLine2 }} {{ order.shipping.city }}</p>
    			<p class="card-text"><b>Pincode :</b> {{ order.shipping.pincode }}</p>
    			<p class="card-text font-weight-bold">Total Price : {{ order.totalPrice | currency:'INR':true }}</p>
  			</div>
		</div>
    </div>
	<div class="col-md-7">
<div class="card">		
<table class="table">
	<thead>
		<tr>
			<th></th>
			<th class= "text-center" style="width: 230px">Product</th>
			<th class= "text-right" style="width: 200px">Quantity</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of orderItem">
		<ng-container *ngIf="item.quantity != 0">
			<td>
				<div [style.backgroundImage]="'url('+ item.product.imageUrl +')'" class="thumbnail text-center"></div>
			</td>
			<td class= "text-center">{{ item.product.title }}</td>
			<td class= "text-right">{{ item.quantity }}</td>
		</ng-container>
		</tr>
	</tbody>
</table>
</div>
	</div>			
</div>
		